/* Ember Darkroom: shadcn/ui variables */
:root {
  --background: oklch(0.16594815600078303 0.01895484846849137 68.22780967715966);
  --foreground: oklch(0.9344714884100183 0.03620609573093167 78.12660747525581);
  --card: oklch(0.2573739219842172 0.02909390633452649 59.164105564154596);
  --card-foreground: oklch(0.9344714884100183 0.03620609573093167 78.12660747525581);
  --popover: oklch(0.2573739219842172 0.02909390633452649 59.164105564154596);
  --popover-foreground: oklch(0.9344714884100183 0.03620609573093167 78.12660747525581);
  --primary: oklch(0.6445530683953549 0.17829624105334888 43.60893060460141);
  --primary-foreground: oklch(0.16594815600078303 0.01895484846849137 68.22780967715966);
  --secondary: oklch(0.2573739219842172 0.02909390633452649 59.164105564154596);
  --secondary-foreground: oklch(0.9344714884100183 0.03620609573093167 78.12660747525581);
  --muted: oklch(0.2573739219842172 0.02909390633452649 59.164105564154596);
  --muted-foreground: oklch(0.7092344164668292 0.04149140170963135 68.3259148727358);
  --accent: oklch(0.2573739219842172 0.02909390633452649 59.164105564154596);
  --accent-foreground: oklch(0.9344714884100183 0.03620609573093167 78.12660747525581);
  --destructive: oklch(0.655413992661453 0.1559882956135978 27.313942695946448);
  --border: oklch(0.34669239006614344 0.02956715218843948 68.68501442358844);
  --input: oklch(0.34669239006614344 0.02956715218843948 68.68501442358844);
  --ring: oklch(0.6445530683953549 0.17829624105334888 43.60893060460141);
  --radius: 22px;
}
