/* Candy Playful — shadcn/ui variables */
:root {
  --background: oklch(0.9939275901995764 0.008182561172788925 91.48047173257602);
  --foreground: oklch(0.25713479839714654 0.04392018222081892 310.64283557229487);
  --card: oklch(1.0000000000000002 0 none);
  --card-foreground: oklch(0.25713479839714654 0.04392018222081892 310.64283557229487);
  --popover: oklch(1.0000000000000002 0 none);
  --popover-foreground: oklch(0.25713479839714654 0.04392018222081892 310.64283557229487);
  --primary: oklch(0.5381592460524428 0.23202616729810996 293.6705952512297);
  --primary-foreground: oklch(1.0000000000000002 0 none);
  --secondary: oklch(1.0000000000000002 0 none);
  --secondary-foreground: oklch(0.25713479839714654 0.04392018222081892 310.64283557229487);
  --muted: oklch(1.0000000000000002 0 none);
  --muted-foreground: oklch(0.49422089689257365 0.046991641791496716 312.86961069114625);
  --accent: oklch(1.0000000000000002 0 none);
  --accent-foreground: oklch(0.25713479839714654 0.04392018222081892 310.64283557229487);
  --destructive: oklch(0.569611778785241 0.20680512503431808 22.570307127211215);
  --border: oklch(0.861732537636817 0.04935568786017096 310.9579277730822);
  --input: oklch(0.861732537636817 0.04935568786017096 310.9579277730822);
  --ring: oklch(0.5381592460524428 0.23202616729810996 293.6705952512297);
  --radius: 16px;
}
