/* Hatched Lodge: shadcn/ui variables */
:root {
  --background: oklch(0.2715491403709929 0.009389022481837653 67.4155094080514);
  --foreground: oklch(0.7437183674869136 0.06108429087279161 82.82912356144067);
  --card: oklch(0.3171774819578883 0.014857209940755177 71.52920752185022);
  --card-foreground: oklch(0.7437183674869136 0.06108429087279161 82.82912356144067);
  --popover: oklch(0.3171774819578883 0.014857209940755177 71.52920752185022);
  --popover-foreground: oklch(0.7437183674869136 0.06108429087279161 82.82912356144067);
  --primary: oklch(0.8093493485329637 0.07369720393635772 83.02287651702213);
  --primary-foreground: oklch(0.2715491403709929 0.009389022481837653 67.4155094080514);
  --secondary: oklch(0.3171774819578883 0.014857209940755177 71.52920752185022);
  --secondary-foreground: oklch(0.7437183674869136 0.06108429087279161 82.82912356144067);
  --muted: oklch(0.3171774819578883 0.014857209940755177 71.52920752185022);
  --muted-foreground: oklch(0.6542655509694861 0.051069234798376786 82.50496407021758);
  --accent: oklch(0.3171774819578883 0.014857209940755177 71.52920752185022);
  --accent-foreground: oklch(0.7437183674869136 0.06108429087279161 82.82912356144067);
  --destructive: oklch(0.6255652610932986 0.19333992907896502 23.026060464778094);
  --border: oklch(0.3840326047576914 0.019739847070385553 73.33392742809949);
  --input: oklch(0.3840326047576914 0.019739847070385553 73.33392742809949);
  --ring: oklch(0.8093493485329637 0.07369720393635772 83.02287651702213);
  --radius: 20px;
}
