/* Paper Archive: shadcn/ui variables */
:root {
  --background: oklch(0.9615773394146568 0.005740459996617759 84.56633929494501);
  --foreground: oklch(0.2849668190654581 0.005566404653448519 91.57014249680644);
  --card: oklch(0.9912751026892449 0.002851266976601195 84.55871372015021);
  --card-foreground: oklch(0.2849668190654581 0.005566404653448519 91.57014249680644);
  --popover: oklch(0.9912751026892449 0.002851266976601195 84.55871372015021);
  --popover-foreground: oklch(0.2849668190654581 0.005566404653448519 91.57014249680644);
  --primary: oklch(0.5181391892857982 0.198044920049652 265.20503646511287);
  --primary-foreground: oklch(1.0000000000000002 0 none);
  --secondary: oklch(0.9912751026892449 0.002851266976601195 84.55871372015021);
  --secondary-foreground: oklch(0.2849668190654581 0.005566404653448519 91.57014249680644);
  --muted: oklch(0.9912751026892449 0.002851266976601195 84.55871372015021);
  --muted-foreground: oklch(0.4899011967969094 0.010139403254172608 84.59001537458775);
  --accent: oklch(0.9912751026892449 0.002851266976601195 84.55871372015021);
  --accent-foreground: oklch(0.2849668190654581 0.005566404653448519 91.57014249680644);
  --destructive: oklch(0.49428895711318044 0.15532357541040412 27.672665996146158);
  --border: oklch(0.8277726815854681 0.0148375777620742 84.58724855996356);
  --input: oklch(0.8277726815854681 0.0148375777620742 84.58724855996356);
  --ring: oklch(0.5181391892857982 0.198044920049652 265.20503646511287);
  --radius: 4px;
}
