/* Recess Bulletin: shadcn/ui variables */
:root {
  --background: oklch(1.0000000000000002 0 none);
  --foreground: oklch(0.17304230872217735 0 none);
  --card: oklch(0.9748618826621974 0.02796376860669655 86.64380182969033);
  --card-foreground: oklch(0.17304230872217735 0 none);
  --popover: oklch(0.9748618826621974 0.02796376860669655 86.64380182969033);
  --popover-foreground: oklch(0.17304230872217735 0 none);
  --primary: oklch(0.63696488872399 0.18659850588558005 31.466574948796843);
  --primary-foreground: oklch(0.17304230872217735 0 none);
  --secondary: oklch(0.9748618826621974 0.02796376860669655 86.64380182969033);
  --secondary-foreground: oklch(0.17304230872217735 0 none);
  --muted: oklch(0.9748618826621974 0.02796376860669655 86.64380182969033);
  --muted-foreground: oklch(0.45678199318143103 0 none);
  --accent: oklch(0.9748618826621974 0.02796376860669655 86.64380182969033);
  --accent-foreground: oklch(0.17304230872217735 0 none);
  --destructive: oklch(0.5463769979382389 0.17895216459319926 29.40394623026641);
  --border: oklch(0.17304230872217735 0 none);
  --input: oklch(0.17304230872217735 0 none);
  --ring: oklch(0.63696488872399 0.18659850588558005 31.466574948796843);
  --radius: 50px;
}
