/* Midnight Precision: shadcn/ui variables */
:root {
  --background: oklch(0.14933932968035807 0.004614049938407767 264.473509657728);
  --foreground: oklch(0.963955709613964 0.002876287441393468 264.5419652534427);
  --card: oklch(0.19642376708795106 0.008166559712914401 274.4865100089437);
  --card-foreground: oklch(0.963955709613964 0.002876287441393468 264.5419652534427);
  --popover: oklch(0.19642376708795106 0.008166559712914401 274.4865100089437);
  --popover-foreground: oklch(0.963955709613964 0.002876287441393468 264.5419652534427);
  --primary: oklch(0.676753018762099 0.15945021068889556 274.96964287891365);
  --primary-foreground: oklch(0.14933932968035807 0.004614049938407767 264.473509657728);
  --secondary: oklch(0.19642376708795106 0.008166559712914401 274.4865100089437);
  --secondary-foreground: oklch(0.963955709613964 0.002876287441393468 264.5419652534427);
  --muted: oklch(0.19642376708795106 0.008166559712914401 274.4865100089437);
  --muted-foreground: oklch(0.7079730081451029 0.018751216720824294 264.44796079592345);
  --accent: oklch(0.19642376708795106 0.008166559712914401 274.4865100089437);
  --accent-foreground: oklch(0.963955709613964 0.002876287441393468 264.5419652534427);
  --destructive: oklch(0.6625143503251791 0.1925506727147764 22.294901464062022);
  --border: oklch(0.32044579820848923 0.015299407156333763 264.3323034862582);
  --input: oklch(0.32044579820848923 0.015299407156333763 264.3323034862582);
  --ring: oklch(0.676753018762099 0.15945021068889556 274.96964287891365);
  --radius: 8px;
}
