/* Slate Enterprise — shadcn/ui variables */
:root {
  --background: oklch(1.0000000000000002 0 none);
  --foreground: oklch(0.20768191557381332 0.039824326599745954 265.7548754713905);
  --card: oklch(0.9841518695012075 0.003412699212644564 247.85777459444185);
  --card-foreground: oklch(0.20768191557381332 0.039824326599745954 265.7548754713905);
  --popover: oklch(0.9841518695012075 0.003412699212644564 247.85777459444185);
  --popover-foreground: oklch(0.20768191557381332 0.039824326599745954 265.7548754713905);
  --primary: oklch(0.48819831360724864 0.21716547805456016 264.3763056270299);
  --primary-foreground: oklch(1.0000000000000002 0 none);
  --secondary: oklch(0.9841518695012075 0.003412699212644564 247.85777459444185);
  --secondary-foreground: oklch(0.20768191557381332 0.039824326599745954 265.7548754713905);
  --muted: oklch(0.9841518695012075 0.003412699212644564 247.85777459444185);
  --muted-foreground: oklch(0.48755386164035436 0.045430767700163285 262.65166740649255);
  --accent: oklch(0.9841518695012075 0.003412699212644564 247.85777459444185);
  --accent-foreground: oklch(0.20768191557381332 0.039824326599745954 265.7548754713905);
  --destructive: oklch(0.5054198569680994 0.190493416205484 27.518097674677875);
  --border: oklch(0.870165967706119 0.01751213529109656 256.28797964436137);
  --input: oklch(0.870165967706119 0.01751213529109656 256.28797964436137);
  --ring: oklch(0.48819831360724864 0.21716547805456016 264.3763056270299);
  --radius: 6px;
}
