/* Pulp Transmission: shadcn/ui variables */
:root {
  --background: oklch(0.19539997226146208 0.03812054125642054 258.82398391884135);
  --foreground: oklch(0.947193968479707 0.007040358131304136 39.46002758231445);
  --card: oklch(0.2682049229364918 0.05172520129360165 259.01785947067515);
  --card-foreground: oklch(0.947193968479707 0.007040358131304136 39.46002758231445);
  --popover: oklch(0.2682049229364918 0.05172520129360165 259.01785947067515);
  --popover-foreground: oklch(0.947193968479707 0.007040358131304136 39.46002758231445);
  --primary: oklch(0.6645243210432005 0.19111867991100082 20.729140984536613);
  --primary-foreground: oklch(0.19539997226146208 0.03812054125642054 258.82398391884135);
  --secondary: oklch(0.2682049229364918 0.05172520129360165 259.01785947067515);
  --secondary-foreground: oklch(0.947193968479707 0.007040358131304136 39.46002758231445);
  --muted: oklch(0.2682049229364918 0.05172520129360165 259.01785947067515);
  --muted-foreground: oklch(0.7045865431829357 0.03335370558353729 257.2554652890409);
  --accent: oklch(0.2682049229364918 0.05172520129360165 259.01785947067515);
  --accent-foreground: oklch(0.947193968479707 0.007040358131304136 39.46002758231445);
  --destructive: oklch(0.6255652610932986 0.19333992907896502 23.026060464778094);
  --border: oklch(0.3579504572890311 0.05425300840607845 258.99493474988594);
  --input: oklch(0.3579504572890311 0.05425300840607845 258.99493474988594);
  --ring: oklch(0.6645243210432005 0.19111867991100082 20.729140984536613);
  --radius: 10px;
}
