/* Neon Terminal — shadcn/ui variables */
:root {
  --background: oklch(0.12712962373515546 0.008826880806512335 253.65515199268435);
  --foreground: oklch(0.9442197739662288 0.03866686790611441 158.34810996658308);
  --card: oklch(0.17894440645581614 0.015560649366784998 248.7101885056599);
  --card-foreground: oklch(0.9442197739662288 0.03866686790611441 158.34810996658308);
  --popover: oklch(0.17894440645581614 0.015560649366784998 248.7101885056599);
  --popover-foreground: oklch(0.9442197739662288 0.03866686790611441 158.34810996658308);
  --primary: oklch(0.8808960085830199 0.2208902148342807 151.2123352439815);
  --primary-foreground: oklch(0.12712962373515546 0.008826880806512335 253.65515199268435);
  --secondary: oklch(0.17894440645581614 0.015560649366784998 248.7101885056599);
  --secondary-foreground: oklch(0.9442197739662288 0.03866686790611441 158.34810996658308);
  --muted: oklch(0.17894440645581614 0.015560649366784998 248.7101885056599);
  --muted-foreground: oklch(0.6983702581031146 0.08249082201507768 159.68692064214738);
  --accent: oklch(0.17894440645581614 0.015560649366784998 248.7101885056599);
  --accent-foreground: oklch(0.9442197739662288 0.03866686790611441 158.34810996658308);
  --destructive: oklch(0.6934516008805208 0.1965299517149691 26.686345580313567);
  --border: oklch(0.31085707472349483 0.027592357754182367 161.1399250273986);
  --input: oklch(0.31085707472349483 0.027592357754182367 161.1399250273986);
  --ring: oklch(0.8808960085830199 0.2208902148342807 151.2123352439815);
  --radius: 3px;
}
