/* Pastel Brutalist: shadcn/ui variables */
:root {
  --background: oklch(0.962901409205333 0.004196186036843794 56.37419168319622);
  --foreground: oklch(0.1995037954531629 0.0025431713872111302 247.9543077182358);
  --card: oklch(1.0000000000000002 0 none);
  --card-foreground: oklch(0.1995037954531629 0.0025431713872111302 247.9543077182358);
  --popover: oklch(1.0000000000000002 0 none);
  --popover-foreground: oklch(0.1995037954531629 0.0025431713872111302 247.9543077182358);
  --primary: oklch(0.7474943403459617 0.13536254116599308 292.4836582219092);
  --primary-foreground: oklch(0.1995037954531629 0.0025431713872111302 247.9543077182358);
  --secondary: oklch(1.0000000000000002 0 none);
  --secondary-foreground: oklch(0.1995037954531629 0.0025431713872111302 247.9543077182358);
  --muted: oklch(1.0000000000000002 0 none);
  --muted-foreground: oklch(0.49378013587552316 0.004053102611379476 67.73141859289368);
  --accent: oklch(1.0000000000000002 0 none);
  --accent-foreground: oklch(0.1995037954531629 0.0025431713872111302 247.9543077182358);
  --destructive: oklch(0.7076325710164905 0.18560340199683475 31.679202481767884);
  --border: oklch(0.1995037954531629 0.0025431713872111302 247.9543077182358);
  --input: oklch(0.1995037954531629 0.0025431713872111302 247.9543077182358);
  --ring: oklch(0.7474943403459617 0.13536254116599308 292.4836582219092);
  --radius: 12px;
}
