/* Bright Atrium: shadcn/ui variables */
:root {
  --background: oklch(1.0000000000000002 0 none);
  --foreground: oklch(0.1998058822322884 0.00860218188247457 264.3599650365401);
  --card: oklch(0.9756593885235259 0.0017099826112292628 247.83959544311656);
  --card-foreground: oklch(0.1998058822322884 0.00860218188247457 264.3599650365401);
  --popover: oklch(0.9756593885235259 0.0017099826112292628 247.83959544311656);
  --popover-foreground: oklch(0.1998058822322884 0.00860218188247457 264.3599650365401);
  --primary: oklch(0.528215443081762 0.19302641859594233 260.08772402167426);
  --primary-foreground: oklch(1.0000000000000002 0 none);
  --secondary: oklch(0.9756593885235259 0.0017099826112292628 247.83959544311656);
  --secondary-foreground: oklch(0.1998058822322884 0.00860218188247457 264.3599650365401);
  --muted: oklch(0.9756593885235259 0.0017099826112292628 247.83959544311656);
  --muted-foreground: oklch(0.4601695551320206 0.011952753567125739 267.2510802219973);
  --accent: oklch(0.9756593885235259 0.0017099826112292628 247.83959544311656);
  --accent-foreground: oklch(0.1998058822322884 0.00860218188247457 264.3599650365401);
  --destructive: oklch(0.5403961316061213 0.17647387133837464 28.56108801214031);
  --border: oklch(0.8659927204705009 0.00762396955084089 260.7315846186686);
  --input: oklch(0.8659927204705009 0.00762396955084089 260.7315846186686);
  --ring: oklch(0.528215443081762 0.19302641859594233 260.08772402167426);
  --radius: 20px;
}
