/* Soft Clinic — shadcn/ui variables */
:root {
  --background: oklch(0.9804124640672455 0.004168335158521009 236.4961180818578);
  --foreground: oklch(0.2524002744775957 0.02704943656308906 240.25793204137278);
  --card: oklch(1.0000000000000002 0 none);
  --card-foreground: oklch(0.2524002744775957 0.02704943656308906 240.25793204137278);
  --popover: oklch(1.0000000000000002 0 none);
  --popover-foreground: oklch(0.2524002744775957 0.02704943656308906 240.25793204137278);
  --primary: oklch(0.5361854495740419 0.08875993391067516 205.0324544674069);
  --primary-foreground: oklch(1.0000000000000002 0 none);
  --secondary: oklch(1.0000000000000002 0 none);
  --secondary-foreground: oklch(0.2524002744775957 0.02704943656308906 240.25793204137278);
  --muted: oklch(1.0000000000000002 0 none);
  --muted-foreground: oklch(0.5127928793147307 0.03164662095258833 236.7368042085234);
  --accent: oklch(1.0000000000000002 0 none);
  --accent-foreground: oklch(0.2524002744775957 0.02704943656308906 240.25793204137278);
  --destructive: oklch(0.5438097072239564 0.17336422934198906 28.43848017298832);
  --border: oklch(0.8607749504121512 0.024840721859617373 238.45176115056228);
  --input: oklch(0.8607749504121512 0.024840721859617373 238.45176115056228);
  --ring: oklch(0.5361854495740419 0.08875993391067516 205.0324544674069);
  --radius: 12px;
}
