/* Drafting Sheet: shadcn/ui variables */
:root {
  --background: oklch(0.945985390217541 0.008282720977742828 91.48485598063245);
  --foreground: oklch(0.25502615955926927 0.005511328801087849 106.78408533190581);
  --card: oklch(0.8388701242642738 0.012771254576640377 91.53722418184402);
  --card-foreground: oklch(0.25502615955926927 0.005511328801087849 106.78408533190581);
  --popover: oklch(0.8388701242642738 0.012771254576640377 91.53722418184402);
  --popover-foreground: oklch(0.25502615955926927 0.005511328801087849 106.78408533190581);
  --primary: oklch(0.543476804496202 0.18139183052448746 35.89341304200364);
  --primary-foreground: oklch(1.0000000000000002 0 none);
  --secondary: oklch(0.8388701242642738 0.012771254576640377 91.53722418184402);
  --secondary-foreground: oklch(0.25502615955926927 0.005511328801087849 106.78408533190581);
  --muted: oklch(0.8388701242642738 0.012771254576640377 91.53722418184402);
  --muted-foreground: oklch(0.5233047692642534 0.009312343571300105 99.0107696819672);
  --accent: oklch(0.8388701242642738 0.012771254576640377 91.53722418184402);
  --accent-foreground: oklch(0.25502615955926927 0.005511328801087849 106.78408533190581);
  --destructive: oklch(0.6255652610932986 0.19333992907896502 23.026060464778094);
  --border: oklch(0.7153463801486163 0.013272177133219298 91.5627985837627);
  --input: oklch(0.7153463801486163 0.013272177133219298 91.5627985837627);
  --ring: oklch(0.543476804496202 0.18139183052448746 35.89341304200364);
  --radius: 0px;
}
