/* Sunlit Notebook: shadcn/ui variables */
:root {
  --background: oklch(0.9593087863359553 0.010256095162007088 81.79503360442949);
  --foreground: oklch(0.19046483460087418 0.008860324220531297 59.08151089227404);
  --card: oklch(1.0000000000000002 0 none);
  --card-foreground: oklch(0.19046483460087418 0.008860324220531297 59.08151089227404);
  --popover: oklch(1.0000000000000002 0 none);
  --popover-foreground: oklch(0.19046483460087418 0.008860324220531297 59.08151089227404);
  --primary: oklch(0.5265715115306249 0.19446711043517334 259.14654492851486);
  --primary-foreground: oklch(1.0000000000000002 0 none);
  --secondary: oklch(1.0000000000000002 0 none);
  --secondary-foreground: oklch(0.19046483460087418 0.008860324220531297 59.08151089227404);
  --muted: oklch(1.0000000000000002 0 none);
  --muted-foreground: oklch(0.496042734393414 0.017949047271622456 61.06130927661495);
  --accent: oklch(1.0000000000000002 0 none);
  --accent-foreground: oklch(0.19046483460087418 0.008860324220531297 59.08151089227404);
  --destructive: oklch(0.5545473965168717 0.1724651772849559 32.56024567362725);
  --border: oklch(0.8342645751190454 0.025096877940941058 77.43103712862185);
  --input: oklch(0.8342645751190454 0.025096877940941058 77.43103712862185);
  --ring: oklch(0.5265715115306249 0.19446711043517334 259.14654492851486);
  --radius: 8px;
}
