/* Lavender Pill: shadcn/ui variables */
:root {
  --background: oklch(0.9672080576049693 0.01753071611791045 296.6370838093781);
  --foreground: oklch(0.34576121460453507 0.0723952656886372 294.3563297790358);
  --card: oklch(0.992388090801302 0.0028273614491624134 308.4287412332805);
  --card-foreground: oklch(0.34576121460453507 0.0723952656886372 294.3563297790358);
  --popover: oklch(0.992388090801302 0.0028273614491624134 308.4287412332805);
  --popover-foreground: oklch(0.34576121460453507 0.0723952656886372 294.3563297790358);
  --primary: oklch(0.7446192054585091 0.11845906493924856 289.832589072777);
  --primary-foreground: oklch(0.34576121460453507 0.0723952656886372 294.3563297790358);
  --secondary: oklch(0.992388090801302 0.0028273614491624134 308.4287412332805);
  --secondary-foreground: oklch(0.34576121460453507 0.0723952656886372 294.3563297790358);
  --muted: oklch(0.992388090801302 0.0028273614491624134 308.4287412332805);
  --muted-foreground: oklch(0.536729713920356 0.03446134641666361 295.6319357473365);
  --accent: oklch(0.992388090801302 0.0028273614491624134 308.4287412332805);
  --accent-foreground: oklch(0.34576121460453507 0.0723952656886372 294.3563297790358);
  --destructive: oklch(0.6425968534082875 0.17876228090712806 20.88093182979093);
  --border: oklch(0.8479711252514982 0.036165722653340567 294.43564645133483);
  --input: oklch(0.8479711252514982 0.036165722653340567 294.43564645133483);
  --ring: oklch(0.7446192054585091 0.11845906493924856 289.832589072777);
  --radius: 24px;
}
