/* Warm Editorial — shadcn/ui variables */
:root {
  --background: oklch(0.9800501715350619 0.007360804332460258 80.72119884316177);
  --foreground: oklch(0.23351668987099355 0.011190282056514747 73.37569937850296);
  --card: oklch(1.0000000000000002 0 none);
  --card-foreground: oklch(0.23351668987099355 0.011190282056514747 73.37569937850296);
  --popover: oklch(1.0000000000000002 0 none);
  --popover-foreground: oklch(0.23351668987099355 0.011190282056514747 73.37569937850296);
  --primary: oklch(0.5363533348014058 0.15289341434736578 38.192506768357944);
  --primary-foreground: oklch(0.987030093703314 0.010688160903105433 76.60032355774958);
  --secondary: oklch(1.0000000000000002 0 none);
  --secondary-foreground: oklch(0.23351668987099355 0.011190282056514747 73.37569937850296);
  --muted: oklch(1.0000000000000002 0 none);
  --muted-foreground: oklch(0.5018351135409582 0.018114621595096 67.39558305829563);
  --accent: oklch(1.0000000000000002 0 none);
  --accent-foreground: oklch(0.23351668987099355 0.011190282056514747 73.37569937850296);
  --destructive: oklch(0.5058107563345462 0.16588783777732413 25.39375217620859);
  --border: oklch(0.8382915116102657 0.029677117452359524 77.51284996587559);
  --input: oklch(0.8382915116102657 0.029677117452359524 77.51284996587559);
  --ring: oklch(0.5363533348014058 0.15289341434736578 38.192506768357944);
  --radius: 4px;
}
